  .center{
    width: 75%;
    margin: auto;
  }
  
  .main-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .example-card {
    width: 700px;
    padding: 3em 0em 3em 0em;
  }
  .card-header {
    justify-content: center;
    align-items: center;
  }
  .card-content {
    width: 100%;
  }
  .table {
    width: 52%;
    margin-left: 24%;
  }

  .form-field {
    width: 50%;
    margin-left: 25%;
  }
  .mat-card {
    box-shadow: none;
  }
